<div class="login">
	<p class="marquee">
		<span>Hello ･ Bonjour ･ Hola ･ Hallo ･ Χαίρετε ･ Ciao ･ Cześć ･ 你好 ･ こんにちは ･ Привет ･ Hei ･ Здравствуйте ･ Olá ･ Hallå ･ Merhaba ･ Xin Chào ･ 여보세요 ･ Sveiki ･ Ahoj </span>
	</p>
	<div class="main">
		<img src="<%= asset_path("logo.svg") %>" class="logo">
		<div id="login-msg">Sharing, simplified.</div>

		<%= form_for(:session, url: login_path, :html => {:class => 'form_login_main'}) do |f| %>

		<div class="form-row">
			<%= f.email_field :email, placeholder: "email", class: 'form-control' %>
		</div>

		<div class="form-row">
			<%= f.password_field :password, placeholder: "password", class: 'form-control' %>
		</div>

		<div class="form-row left">
			<%= f.label :remember_me, class: "checkbox inline" do %>
			<%= f.check_box :remember_me %>
			<span>Remember Me</span>
			<% end %>

			<%= f.button "Log in", class: "btn" %>
			<% end %>
		</div>

		<p>New? <%= link_to "Sign up now!", signup_path, class: "signup-link" %></p>
	</div>

	<div class="branding">Social!</div>
</div>
