<div class="box-container">
	<div class="header">
		<%= t('ui.recent_activity') %>
	</div>
	<div class="box" id="activity">
		<%= render "partials/recent_activity" %>
	</div>

	
	<div id="friend-request-container" <% if !(FriendRequest.where(friend: current_user).all.count > 0) %> style="display: none" <% end %>>
		<div class="header">
			Friend Requests
		</div>
		<div class="box" id="friend-requests-list"><%= render FriendRequest.where(friend: current_user).all %></div>
	</div>

	<div class="header">
		<%= t('ui.groups') %>
	</div>
	<div class="box groups">
		<%= t('ui.part_of_groups_placeholder') %>
	</div>

	<div class="smallprint">
		&copy; 2018 Lukas Romsicki &amp; <a href="#">contributors.</a>
	</div>
</div>