<div class="top-nav row middle-xs <%= "translucent" unless !defined?(@user.fullname) %>">
	<div class="col-xs start-xs logo-container">
		<%= link_to(root_url) do %>
		<div class="logo" style="background-image: url(<%= asset_path("logo.svg") %>)"></div>
		<% end %>
	</div>

	<div class="col-xs start-xs center-xs hamburger-container">
		<i class="fa fa-bars"></i>
	</div>

	<div class="col-xs">
		<%= form_tag(searches_path) do %>
		<%= hidden_field_tag "search[user_id]", "#{@current_user.id}" %>
		<%= text_field_tag "search[keywords]", params[:keywords], placeholder: "#{search_placeholder}", class: "globalsearch" %>
		<% end %>
	</div>

	<div class="col-xs logout center-xs">
		<%= button_to logout_path, method: :delete, class: "logout-button" do %>
		<i class="fas fa-sign-out-alt"></i>
		<% end %>
	</div>
</div>
<div class="side-nav">
	<div class="profile-image" style="background-image: url(<%= current_user.profile_photo_file_name != nil ? current_user.profile_photo.url(:medium) : asset_path("nophoto.png") %>)"></div>

	<div class="icon-row" id="newpost">
		<i class="fa fa-edit"></i>
	</div>

	<%= link_to(:feed) do %>
	<div class="icon-row">
		<i class="fa fa-newspaper"></i>
	</div>
	<% end %>
	<%= link_to(:friends) do %>
	<div class="icon-row">
		<i class="fa fa-users"></i>
	</div>
	<% end %>
	<%= link_to(current_user) do %>
	<div class="icon-row">
		<i class="fa fa-user"></i>
	</div>
	<% end %>
</div>
