<div id="writepost">
	<div class="post-header">
		<div class="post-header_left">
			<div class="post-header_profile" style="background-image: url(<%= current_user.profile_photo.url(:small) %>)"></div>

			<div class="post-header_activity">
				<%= link_to current_user.fullname, user_path(current_user), class: "link" %>
			</div>
		</div>
	</div>
	<%= form_for :post, :html => { id:  "new_post_form" }, remote: true do |f| -%>
	<%= f.text_field "title", id: "new_post_title", placeholder: t('writepost.title'), :autocomplete => :off %>
	<%= f.text_area "content", id: "new_post_box", placeholder: t('writepost.write'), :autocomplete => :off %>

	<div id="new_post_actions">
		<%= button_tag(type: "button", class: "fab", id: "new_post_add_image") do %>
		<%= f.file_field :image, as: :file, id: "new_post_file" %>
		<i class="fa fa-camera"></i>
		<% end %>

		<%= f.button(type: "submit", class: "fab", id: "new_post_create") do %>
		<i class="fa fa-paper-plane"></i>
		<% end %>
	</div>
	<% end %>

	<div id="new_post_drawer"></div>
</div>

<hr />
