	<%= render "partials/nav" %>
	<%= render "partials/cover_photo_section" %>

	<div class="container-fluid container-fluid-user">
		<div class="row center-xs">
			<div class="col-lg-6">
				<%= render "partials/writepost" %>
				<%= render "partials/feed" %>
			</div>
			<div class="col-lg-3 space-left">
				<%= render "partials/meta" %>
			</div>
		</div>
	</div>
