<div class="login">
  <div class="main">
    <img src="<%= asset_path("logo.svg") %>" class="logo">
    <div id="login-msg"><%= t('login.slogan') %></div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form_login_main'}) do |f| %>

    <div class="form-row">
      <%= f.email_field :email, autofocus: true, placeholder: t('login.email'), class: 'form-control' %>
    </div>

    <div class="form-row">
      <%= f.password_field :password, placeholder: t('login.password'), class: 'form-control' %>
    </div>

    <div class="form-row left">
      <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: "checkbox inline" %>
      </div>
      <% end -%>
      <%= f.submit t('login.log_in'), class: "btn" %>
      <% end %>
    </div>

    <p><%= t('login.new') %> <%= link_to t('login.sign_up_link'), new_registration_path(resource_name), class: "signup-link" %></p>
  </div>

  <div class="branding">Social!</div>
  <div class="auth-help">
    <p><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>
    <p><%= link_to "Didn't get a confirmation email?", new_confirmation_path(resource_name) %></p>
  </div>
</div>
