<div class="post">
	<div class="header">
		<div class="left">
			<div class="profile" style="background-image: url(<%= post.user.profile_url ? post.user.profile_url : asset_path("nophoto.png") %>)"></div>

			<div class="user">
				<%= link_to post.user.fullname, user_path(post.user_id) %>
				<span class="activity">
					<% if post.is_image_post == false %>
					made a <strong>post</strong>.
					<% else %>
					shared a <strong>photo</strong>.
					<% end %>
				</span>
			</div>
		</div>
		<div class="right">
			<div class="ext">
				<%= time_ago_in_words(post.created_at) %> ago
			</div>
		</div>
	</div>

	<div class="body">
		<% if post.is_image_post == true %>
		<a class="image-lightbox" href="<%= post.attachment_img_url %>" data-fancybox>
			<div class="image" style="background-image: url(<%= post.attachment_img_url %>)">
			</div>
		</a>
		<% end %>

		<div class="content">
			<h1><%= post.title %></h1>
			<p><%= post.content %></p>
		</div>

		<div class="interactive">
			<div class="stats">
				<div class="col-left">
					<i class="fa fa-heart likestats"></i>
					<span class="likedetails">
						<% if post.likes.distinct.count > 2 && post.likes.exists?(user_id: current_user.id) %>
						<strong>You</strong> and <%= post.likes.distinct.count - 1 %>
						others.
						<% elsif post.likes.distinct.count == 0 %>
						Be the first to like this.
						<% elsif post.likes.distinct.count == 1 && post.likes.exists?(user_id: current_user.id) %>
						<strong>You</strong> like this.
						<% elsif post.likes.distinct.count == 2 && post.likes.exists?(user_id: current_user.id) %>
						<strong>You</strong> and <%= post.likes.where.not(user_id: current_user.id).first.user.fullname %>
						<% else %>
						<%= post.likes.first.user.fullname %>
						<% end %>
					</span>
				</div>
				<div class="col-right">
					<span class="likedetails"><%= post.comments.distinct.count %> comments</span>
				</div>
			</div>
			<div class="actions">
				<div class="comment-box">
					<%= text_field_tag 'comment', nil, placeholder: 'Write a comment...', class: 'comment-field' %>
				</div>
				<div class="like-box">
					<% if post.likes.exists?(user_id: current_user.id) %>
					<%= button_to("✕", {:controller => "posts", :action => "unlike", :post_id => post.id, :user_id => current_user.id} , :method => :post, class: "likebutton") %>
					<% else %>
					<%= button_to("♥", {:controller => "posts", :action => "like", :post_id => post.id, :user_id => current_user.id} , :method => :post, class: "likebutton") %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
