<div class="feed-container">
	<div class="top-nav">
		<i class="fa fa-search search-icon"></i>
		<input type="text" class="globalsearch" placeholder="Search for people or posts...">
	</div>

	<div class="side-nav">
		<div class="profile-image"></div>
	</div>

	<div class="feed">
		<div class="feed-content">
			<% @posts.order("DATE(updated_at), id desc").each do |post| %>
			<div class="post-container">
				<div class="post-profile" style="background-image: url(<%= asset_path('nophoto.png') %>)"></div>
				<div class="post">
					<div class="post-header">
						<div class="post-left-header-col">
							<div class="post-user">
								<%= link_to post.user.fullname, user_path(post.user_id) %>
							</div>
							<div class="post-meta">
								<%= post.created_at.in_time_zone('EST').strftime("%B %e %l:%M %P") %>
							</div>
						</div>
						<div class="post-right-header-col">
							<div class="post-ext">
								<%= time_ago_in_words(post.created_at) %>
							</div>
						</div>
					</div>
					<div class="post-content">
						<%= post.content %>
					</div>
					<div class="post-stats">
						<%= post.likes.distinct.count %> Likes
					</div>
					<div class="post-actions">
						<%= button_to "Like", {action: "create", post_id: post.id, user_id: 1, method: "post"}, class: "likebutton" %>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
